
# VS2017
/VS2017/x64
/VS2017/*.user
/VS2017/.vs
/target-x64/*.ilk
/target-x64/*.pdb
/target-x64/*.exe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iobj
*.ipdb
